<div class="home-continer">
    <div class="left-menu-bar">
        <button id="add-list-btn" class="menu-button icon-button">
            <p>+</p>
            <p>New list</p </div>
        </button>
        <div class="lists-continer">
            <input class="text-box" style="display: none;" type="text" id="list-name"
                placeholder="Enter list name"></input>
            <div id="lists" class="lists-continer"></div>
        </div>
        <div class="menu-bar-footer">

            <h2 id="user-name">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
            </h2>
            <button id="logout-btn" class="menu-button icon-button">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <p>Log out</p>
            </button>
        </div>
    </div>
    <div class="right-side">
        <header class="top-memu-bar">
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Contact</a>
            <a class="nav-link" href="#">Statictics</a>
        </header>
    </div>
</div>