<div class="login-warper">
    <h1 class="login-header-text">Organize your shopping 🛒</h1>
    <div class="login-register">
        <tab-control>
            <button class="teb" slot="title">Login</button>
            <button class="teb" slot="title">Register</button>
            <section>
                <form class="singup-form" id="login">
                    <h2>Welcome Back!</h2>
                    <input type="text" autofocus placeholder="email" name="email" id="login-email">
                    <input type="password" placeholder="password" name="password" id="login-password">
                    <button type="submit">Get Started</button>
                </form>
            </section>
            <section>
                <form id="signup" class="singup-form">
                    <h2>Sign Up for Free</h2>
                    <input type="text" placeholder="name" name="first-name" id="signup-name">
                    <input type="text" autofocus placeholder="email" name="email" id="signup-email">
                    <input type="password" placeholder="password" name="password" id="signup-password">
                    <input type="password" placeholder="confirm password" name="confirm-password" id="confirm-password">
                    <button type="submit">Sign Up</button>
                </form>
            </section>
        </tab-control>
    </div>
</div>